.note-container{
    background-color:#FFF0D1;
    margin:70px auto auto;
    border: 3px solid #3B3030;
    border-radius: 20px;
    min-height: 500px;
    width: 25%;
    padding:20px;
    opacity: 1;

    .list-title {
        margin:10px;
        font-family: "Playwrite AR", serif;
    }

   

}

.addIcon {
    margin:40px;
}